:root {
  --color-indigo: #4262ff;
  --color-lightgray: #eaeaea88;
  --color-lightpurple: #a2c1f7;
  --color-yellow: #ffd02f;
  --color-white: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#nodeG.drawing {
  .nodeCircle {
    pointer-events: none !important;
  }
  circle.circleWrap {
    r: 20px;
  }
}

.nodeRect {
  cursor: grab;

  &:active {
    cursor: grabbing;
    stroke: var(--color-indigo) !important;
  }

  &.hover {
    fill: var(--color-lightgray) !important;
  }
}

.nodeCircle {
  &:hover {
    fill: var(--color-lightpurple);
    r: 5px;
    stroke: var(--color-lightpurple);
    stroke-width: 1px;
    transition: all 0.1s ease-in;
  }

  &.linked {
    stroke: var(--color-yellow);
    r: 5px;
  }
}

.linkWrap {
  cursor: pointer;

  &.selected {
    stroke: var(--color-indigo);
  }
}

circle[class^='drawlinePoint'] {
  fill: var(--color-white);
  stroke: var(--color-yellow);
}
